@import "variable";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px, auto;
}

.templateRow{
    content: " ";
    display: table;
}

.row{
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear:both;
    }
}

[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float:left;
}

@function anchoDeColumnas($i){
    @return percentage(($i/12));
}

@for $i from 1 through 12 {
    .col-#{$i}{
        width: anchoDeColumnas($i);
    }
}

img{
    
  width: $img-full-size;
}


.contain{
    display:grid;
    grid-template-rows: auto;
      
}

.contain-total{
    @extend .contain;
    grid-template-columns: 1fr;
}

.contain-half{
    @extend .contain;
    grid-template-columns: 1fr 1fr;
}

.center-cont{
    text-align: center;
}
.justify{
    text-align: justify;
}

.padding-left{
    padding-left: 8.33vw;
}
.padding-right{
    padding-right: 8.33vw;
}

.divisor{
    border-top: .7vh solid $azul;
    margin-top: 10vh;

}

.cont-onesix{
    display: grid;
    grid-template-columns: 5fr 1fr;
}